/*gallery*/
.gallery-album {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.album-item {
  margin-top: 100px;
}
.album-item img {
  border-radius: 20px 20px;
  box-shadow: 1;
  box-shadow: 8px 10px 5px #d9d9d9;
}
.album-item p {
  margin: 10px auto 10px;
  max-width: 100%;
  text-align: center;
  font-size: 18px;
  color: $black-deep;
  background: rgba(255,255,255,0.3);
  border-radius: 7px;
  border: 1px solid $black-deep;
}
.album-item :hover {
  position: relative;
  -webkit-transform: translateY(-0.2em);
  -moz-transform: translateY(-0.2em);
  -ms-transform: translateY(-0.2em);
  -o-transform: translateY(-0.2em);
  transform: translateY(-0.2em);
  cursor: pointer;
}
.posts-expand .post-body .gallery-album a img {
  height: 250px;
  width: 250spx;
  object-fit: contain;
}
@media (max-width: 767px) {
  .album-item p {
    min-width: 75px;
    font-size: 13px;
  }
}
.gt-container {
  max-width: 780px;
  margin: auto;
}
